@media (min-width: 1000px) {

    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 1500px;
        /* 4 columns on larger screens */
    }

    .content {
        grid-column: 1/5;
    }

    .spotlight-card {
        grid-column: 1/4;
        grid-row: 2;
        border: none;
    }

    .spotlight-card>* {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    }

    .information-card {
        grid-column: 4/5;
        grid-row: 2;
        align-self: start;
        /* Aligns to the top of the box */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
        max-width: 500px;
    }

    .images-of-stgeorge {
        grid-column: 2/5;
        grid-row: 1/4;
    }

    .rental h1 {
        grid-column: 1/5;
        grid-row: 1;
    }

    .rental .form-container {
        grid-column: 2/4;
        grid-row: 2;
    }

    .benefits {
        grid-column: 3/5;
        width: 95%;
    }

    .business-directory {
        grid-column: 1/5;
    }

    .menu {
        grid-column: 1/5;
        max-height: 75px;
    }

    .list {
        grid-column: 1/5;
    }

    .details p:nth-child(1) {
        grid-column: 1;
    }

    /* Address */
    .details p:nth-child(2) {
        grid-column: 2;
    }

    /* Phone */
    .details p:nth-child(3) {
        grid-column: 3;
        text-align: left;
    }

    /* Website */

    .grid {
        grid-column: 1/5;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
        align-items: center;
    }
    .contact-info {
        grid-column: 1/3;
    }
    .contact-form {
        grid-column: 3/5;
    }

    .map-container{
        grid-column: 1/5;
    }


}